<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Magpie"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Magpie</display-name>

    <welcome-file-list>
        <welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
    </welcome-file-list>

	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/WEB-INF/pages/about.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>

</web-app>